    /*Couleurs brand*/
:root{
    --fond:#0B0E14;
    --fond-secondaire:#141926;
    --fond-tertiaires: #1E2636;
    --titre: #d4af37;
    --titre-secondaire: #8faadc;
    --texte-principal: #e6e3ee;
    --texte-discret: #a1a7b3;
    --message-erreur:red;
    --message-succes:green ;
    --message-avertissement: #e74c3c ;
}

    /* Normalizer */
*{
    margin: 3px;
    padding: 3px;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    background-color: var(--fond);
    font-size: clamp(1rem, 1.5vw, 1.15rem);
}

header {
    width: 90%;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: left;
    margin: 6px 0px 0px 75px;
    gap: 20px;
    padding: 10px;
    width: 80%;
    color: var(--titre-secondaire)
}

a {
    font-size: 18px;
    text-decoration: none;
    
    color: var(--titre-secondaire);
    font-weight: 500;
}

a:hover {
    color: var(--titre);
}

.titre {
    display: flex;
    justify-content: left;
    
    margin-left: 75px;
    
    color: var(--titre);
}

.field {
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--texte-discret);
    background-color: var(--fond-tertiaires);

    width: fit-content;
    border-radius: 8px;
    padding: 4px 8px;
    height: 50px;
    
    margin-left: 0 !important;
    margin-right: auto !important;
}

.field input {
    width: 220px;
    height: 34px;
    
    padding: 6px 12px;
    font-size: 1rem;
    
    border-radius: 5px;
}


.field label {
    background-color: var(--fond-tertiaires);
    
    font-size: 1.1rem;
    
    line-height: 1.2;
}

input, textarea, select {
    background-color: var(--fond-secondaire);
    color: var(--texte-principal);
    border: 1px solid var(--titre-secondaire);

    padding: 4px 12px;
    border-radius: 6px;
    outline: none;
}

.btn {
    background-color: var(--fond-secondaire);
    color: var(--texte-principal);
    border: 1px solid var(--titre-secondaire);

    font-size: 1rem;
    padding: 6px 14px;
    height: 40px;
    margin-top: 10px;

    border-radius: 5px;
    outline: none;
}