:root{
  /*Couleurs brand*/
  --fond:#0B0E14;
  --fond-secondaire:#141926;
  --fond-tertiaires: #1E2636;
  --titre: #d4af37;
  --titre-secondaire: #8faadc;
  --texte-principal: #e6e3ee;
  --texte-discret: #a1a7b3;
  --message-erreur:red;
  --message-succes:green ;
  --message-avertissement: #e74c3c ;
}

/* Normalizer */
*{
  margin: 3px;
  padding: 3px;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  background-color: var(--fond);
  font-size: clamp(1rem,2vw,1.4rem);
}

header {
  width: 100%;
  margin-bottom: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 0;
  gap: 20px;
  padding: 10px;
  width: 100%;
  color: var(--titre-secondaire)
}

.btn-admin {
  position: fixed !important;
  top: 20px !important;
  right: 185px !important;

  padding: 6px 12px;
  font-size: 12px;
  border-radius: 6px;

  background-color: var(--fond-secondaire);
  color: var(--texte-principal);
  border: none;
  cursor: pointer;
  z-index: 99999 !important;
  text-decoration: none;
}

.btn-admin:hover {
  background-color: var(--fond-tertiaires);
}

.suppr {
  position: fixed;
  top: 20px;
  right: 20px;
  
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 6px;

  background-color: #e74c3c;  
  color: white;
  border: none;
  cursor: pointer;
  z-index: 9999;
  transition: 0.2s;
}

.suppr:hover {
  background-color: #c0392b;
}

h3 {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  color: var(--texte-principal);
}

a {
  text-decoration: none;
  color: var(--titre-secondaire);
  font-weight: 500;
}

a:hover {
  color: var(--titre);
}

.grid-two {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 0;
  gap: 20px;
  padding: 10px;
  width: 100%;
  color: var(--titre-secondaire)
}

p {
  display: flex;
  color: var(--texte-principal)
}

table {
  width: 100%;
  max-width: 1100px;
  margin: 40px auto;
  border-collapse: collapse;
  background-color: var(--fond-secondaire);
  color: var(--texte-principal);
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background-color: var(--fond-tertiaires);
}

th {
  padding: 14px;
  text-align: left;
  color: var(--titre);
  border-bottom: 2px solid var(--titre-secondaire);
}

td {
  padding: 12px;
  border-bottom: 1px solid var(--fond-tertiaires);
}

tbody tr:hover {
  background-color: var(--fond-tertiaires);
}

tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.03);
}

@media (max-width: 600px) {
  .grid-two {
    flex-direction: column;
  }
  .hero {
    order: 1;
    width: 95%;
    text-align: center;
  }
  .card {
    order: 2;
    width: 95%;
  }
  .table table, 
  .table tr, 
  .table th, 
  .table td {
    display: block;
    width: 95%;
  }
  .table tr {
    margin-bottom: 16px;
  }
  .table th {
    padding-bottom: 4px;
    border: none;
  }
  .table td {
    padding-left: 12px;
    border: none;
  }
}