:root{
    /*Couleurs brand*/
    --fond:#0B0E14;
    --fond-secondaire:#141926;
    --fond-tertiaires: #1E2636;
    --titre: #d4af37;
    --titre-secondaire: #8faadc;
    --texte-principal: #e6e3ee;
    --texte-discret: #a1a7b3;
    --message-erreur:red;
    --message-succes:green ;
    --message-avertissement: #e74c3c ;
}

/* Normalizer */
*{
    margin: 3px;
    padding: 3px;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    background-color: var(--fond);
    font-size: clamp(1rem,2vw,1.4rem);
}

header {
    width: 100%;
    margin-bottom: 20px;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  position: relative;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.burger {
  display: none;
}

#burger-toggle {
  display: none;
}

span {
    text-align: center;
    color: var(--titre);
}

.second-title {
    text-align: right;
    color: var(--titre);
    margin-right: 20px;
}

.grid-two {
    display: flex;
    gap: 5px;
}

.div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0;
    gap: 20px;
    padding: 10px;
    width: 100%;
    color: var(--titre-secondaire)
}


a {
    text-decoration: none;
    color: var(--titre-secondaire);
    font-weight: 500;
}

a:hover {
    color: var(--titre);
}

p {
    display: flex;
    color: var(--texte-principal)
}

@media (max-width: 600px) {
.burger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1001;
}

.burger span {
  width: 28px;
  height: 4px;
  background: var(--titre);
  border-radius: 10px;
  transition: 0.3s;
}

.nav-links {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: var(--fond);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  transition: 0.4s ease;
  z-index: 1000;
}

#burger-toggle:checked ~ .nav-links {
  right: 0;
}

#burger-toggle {
  display: none;
}
}